/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Prata&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';  


.prata-regular {
  color: rgb(76, 76, 129);
  font-family: "Prata", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
}

.price-regular {
  color: rgb(53, 53, 67);
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
}